<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cdqt.module.security.mapper.PermissionOperationMapper">
  <resultMap id="BaseResultMap" type="org.cdqt.module.security.entity.PermissionOperation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="permission_id" jdbcType="VARCHAR" property="permissionId" />
    <result column="operation_id" jdbcType="VARCHAR" property="operationId" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="org.cdqt.module.security.entity.PermissionOperation">
    insert into base_permission_operation (id, permission_id, operation_id, 
      enabled, update_time, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{permissionId,jdbcType=VARCHAR}, #{operationId,jdbcType=VARCHAR}, 
      #{enabled,jdbcType=BIT}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, permission_id, operation_id, enabled, update_time, create_time
    from base_permission_operation
  </select>
</mapper>